* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

@media (min-width: 319px) and (orientation: portrait) {
    :root {

        font-size: 12px;
        color: navy;
        scroll-behavior: smooth;
    }

    body {
        background-image: url("./src/businessman-2108029_1920.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .section {
        text-align: center;
        margin: 0px auto;
        height: 100vh;

    }


    .section div h1 {
        font-size: 4rem;
        margin-top: 20px;
    }

    .section div h3 {
        font-size: 2rem;

    }

    .section div:nth-of-type(2) img {
        display: none;
    }

    .section div:nth-of-type(3) img {
        display: none;

    }

    .section div:nth-of-type(4) img {
        display: none;

    }

    main {
        position: relative;
        background-color: #E7E7E7;

    }

    main .fa-bars {
        font-size: 30px;
        position: fixed;
        top: 15vh;
        right: 4vw;

    }

    ul.list {
        position: fixed;
        top: 25vh;
        left: 850px;
        transform: translate(-50%, -50%);
        transition: 1s;
        list-style: none;
        width: 250px;
        text-align: center;
        border: 2px navy solid;
    }

    ul.list li {
        background-color: #ccc;
        font-size: 2rem;
        line-height: 40px;
        text-transform: capitalize;
    }

    ul.list li a {
        color: navy;
        text-decoration: none;
        padding: 2px 5px;
        margin: 5px 10px;
    }

    ul.displayNav {
        top: 25vh;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        list-style: none;
        border: 2px navy solid;
        width: 250px;

    }

    ul.displayNav li {
        background-color: #ccc;
        font-size: 2rem;
        line-height: 40px;


    }

    ul.displayNav ul.hidden {
        display: none;
    }

    ul.list ul.hidden {
        list-style: none;
        display: none;
    }

    .text {
        text-align: center;
        width: 75%;
        margin: 0 auto;


    }

    .text div:nth-child(1) {
        font-size: 2em;

    }

    .text div:nth-child(1) h2 {
        font-size: 3.1rem;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .text span:nth-last-child(1) {
        display: block;
        font-weight: 700;
        margin-top: 10px
    }

    .text div:nth-child(2) section {
        background: url(./src/pallet-1665471_1280.jpg);
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 150px;
        width: 100%;
        height: 50vh;
    }


    .text div h2 {
        font-size: 2rem;
        margin-top: 20px;
        text-transform: uppercase;
    }

    .text div ul {
        list-style: none;

    }

    .text div li {
        font-size: 1.5rem;
        margin-top: 15px;
        text-transform: uppercase;
    }

    .text div:nth-last-child(1) section {
        background: url(./src/contact-4216981_640.jpg);
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        background-position-y: 50px;
        width: 100%;
        height: 70vh;
    }

    .text div:nth-last-child(1) p {
        font-size: 1.5rem;
        margin-top: 15px;
        line-height: 25px;
        padding-bottom: 20px;
    }

    .footer {

        background-color: black;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        padding: 5px 0
    }
}

@media (min-width: 560px) and (max-width:1238px) and (orientation: landscape) {
    :root {

        font-size: 15px;
        color: navy;
        scroll-behavior: smooth;
    }

    body {
        background-image: url("./src/businessman-2108029_1920.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .section {
        text-align: center;
        margin: 0px auto;
        height: 100vh;

    }


    .section div h1 {
        font-size: 5rem;
        margin-top: 20px;
    }

    .section div h3 {
        font-size: 2.5rem;

    }

    .section div:nth-of-type(2) img {
        display: none;
    }

    .section div:nth-of-type(3) img {
        display: none;

    }

    .section div:nth-of-type(4) img {
        display: none;

    }

    main {
        position: relative;
        background-color: #E7E7E7;

    }

    main .fa-bars {
        font-size: 30px;
        position: fixed;
        top: 15vh;
        right: 5vw;

    }

    ul.list {
        position: fixed;
        top: 50vh;
        left: 1200px;
        transform: translate(-50%, -50%);
        transition: 1s;
        list-style: none;
        width: 250px;
        text-align: center;
        border: 2px navy solid;
    }

    ul.list li {
        background-color: #ccc;
        font-size: 2rem;
        line-height: 40px;
        text-transform: capitalize;
    }

    ul.list li a {
        color: navy;
        text-decoration: none;
        padding: 2px 5px;
        margin: 5px 10px;
    }

    ul.displayNav {
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        list-style: none;
        border: 2px navy solid;
        width: 250px;

    }

    ul.displayNav li {
        background-color: #ccc;
        font-size: 2rem;
        line-height: 40px;


    }

    ul.displayNav ul.hidden {
        display: none;
    }

    ul.list ul.hidden {
        list-style: none;
        display: none;
    }

    .text {
        text-align: center;
        width: 75%;
        margin: 0 auto;


    }

    .text div:nth-child(1) {
        font-size: 2em;

    }

    .text div:nth-child(1) h2 {
        font-size: 3.1rem;
        padding-top: 20px;
        margin-bottom: 10px;
    }

    .text span:nth-last-child(1) {
        display: block;
        font-weight: 700;
        margin-top: 10px
    }

    .text div:nth-child(2) section {
        background: url(./src/pallet-1665471_1280.jpg);
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 150px;
        width: 100%;
        height: 50vh;
    }


    .text div h2 {
        font-size: 2rem;
        margin-top: 20px;
        text-transform: uppercase;
    }

    .text div ul {
        list-style: none;

    }

    .text div li {
        font-size: 1.5rem;
        margin-top: 15px;
        text-transform: uppercase;
    }

    .text div:nth-last-child(1) section {
        background: url(./src/contact-4216981_640.jpg);
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        background-position-y: 50px;
        width: 100%;
        height: 70vh;
    }

    .text div:nth-last-child(1) p {
        font-size: 1.5rem;
        margin-top: 15px;
        line-height: 25px;
        padding-bottom: 20px;
    }

    .footer {

        background-color: black;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        padding: 5px 0
    }
}


@media(min-width: 1239px) and (orientation: landscape) {



    :root {
        font-size: 2.75vh;
    }

    .section {
        height: 30vh;
        color: white;
        display: flex;
        flex-direction: row;
        text-align: center;
        overflow: hidden;
        border-bottom: 2px solid #ccc;

    }

    .section div:nth-of-type(1) {
        font-weight: 900;
        width: 25%;
        height: 30vh;
        padding: 10px;
        border-right: 2px solid #ccc;
        color: navy;
        display: block;


    }

    .section div:nth-of-type(1) h1 {
        font-size: 3rem;
        line-height: 15vh;

    }

    .section div:nth-of-type(1) h3 {
        font-size: 1.8rem;

    }

    .section div {
        display: flex;
        width: 25%;
    }

    .section div img {
        flex-grow: 1;
        height: 30vh;
    }



    .main {
        height: 60vh;
        display: flex;
        flex-direction: row;
        position: relative;
    }

    main .fa-bars {
        display: none;
    }

    nav.navi {

        background-color: white;
        width: 22vw;
        position: relative;
        text-align: left;
        z-index: 2;

    }


    nav.navi ul.list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        overflow: hidden;
        background-color: #fff;



    }

    .navi ul.list li {
        position: relative;
        list-style: none;
        font-size: 1.5rem;
        margin: 20px 0 50px 20px;
        color: #ccc;
        cursor: pointer;


    }

    .navi li a {
        text-decoration: none;
        color: #aaa;

    }

    .navi li {
        text-transform: uppercase;
    }

    .navi ul li.active {
        text-decoration: underline;

    }

    .navi ul.list>li:nth-child(2) {
        position: relative;
    }





    .navi ul.hidden {
        position: relative;
    }

    .navi ul.hidden li {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0;
    }

    .navi ul.hidden.move li {
        font-size: 1rem;
        position: absolute;
        margin: 20px 0;
        top: 0;
        left: 150px;

    }

    .navi ul.hidden.move li:nth-child(1) {
        top: -100px;
    }

    .navi ul.hidden.move li:nth-child(2) {
        top: -60px;
    }

    .navi ul.hidden.move li:nth-child(3) {
        top: -15px;
    }




    /* .navi ul.hidden li {
        font-size: .9rem;
        color: #ccc;
        padding: 0;
        margin: 0;


    } */

    .text {
        position: relative;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        width: 70vw;
        height: 50vh;
        color: navy;
        font-size: 1.2rem;
        z-index: 1;
    }



    section.text p:nth-child(1) {
        font-size: 0;
    }

    section.text p.start {
        position: relative;
        top: 50%;
        left: 40%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        text-align: center;

    }

    section.text .start span {
        font-weight: 700;
        text-transform: uppercase;
    }

    .start::first-letter {
        text-transform: uppercase;

    }

    .text h2 span:nth-child(1) {
        text-indent: 15px;
        text-align: justify;
    }

    .text span:nth-child(1) {
        display: block;
    }

    .text span:nth-last-child(2) {
        margin-top: 20px;
        display: block;
        text-align: center;
        font-weight: 700;
    }


    .text div {
        display: none;
    }

    .text div.visible {
        display: block;
    }

    .text .visible1 {
        display: block;
    }

    .text ul {
        list-style: none;
    }

    .text li {
        font-size: 2rem;
    }


    .visible1 div.noVisible {
        display: none
    }

    .text:nth-last-child(1) h2 {
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 15px;
    }

    .text:nth-last-child(2) p {
        text-transform: capitalize;
        line-height: 25px;
        text-align: center;
    }

    .text div:nth-child(2) {
        text-align: center
    }

    .text div:nth-child(2) li {
        line-height: 50px;
    }

    .text ul li .fa-hand-point-right {
        margin-right: 10px;
    }

    .text div li {
        text-transform: uppercase;
    }




    .footer {
        height: 9vh;
        line-height: 9vh;
        background-color: black;
        color: white;
        text-align: center
    }
}